<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>align-justify-solid.png</string>			
			<key>Shell Script File</key>
			<string>format.sh</string>
			<key>Title</key>
			<string>Format Mail</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Format paragraphs in a mail friendly way.</string>
	<key>Extension Identifier</key>
	<string>dk.xam.popclip.extension.format-mail</string>
	<key>Extension Name</key>
	<string>Format Mail</string>
	<key>Extension Long Name</key>
	<string>Format Mail</string>
</dict>
</plist>
